@charset "UTF-8";

html{
  background-color: #000000;
}

h1{
  background-color: #A6213A;
  color: #ffffff;
  text-align: center;
  font-family: 'Courier New' ;

}

h1{
  position: relative;
  padding: 0.25em 1em;
  border-top: solid 2px #eeffff;
  border-bottom: solid 2px #eeffff;
}

h1::before,h1::after{
  content: '';
  position: absolute;
  top: -7px;
  width: 2px;
  height: -webkit-calc(100% + 14px);
  height: calc(100% + 14px);
  background-color: #eeffff;
}

h1::before{
  left:7px;
}

h1::after{
  right: 7px;
}

h2{
  text-align: center;
  font-family: 'Courier New';
  color: #A6213A
}

h3{
  text-align: center;
  font-family: 'Courier New';
  color: #A6213A
}

h4{
  text-align: center;
  font-family: 'Courier New';
  color: #A6213A
}

h5{
  text-align: center;
  font-family: 'Courier New';
  color: #A6213A
}

p{
  text-align: center;
  font-family: 'Courier New';
  color: #A6213A
}

br{
  text-align: center;
}


li{
  text-align: center;
}



.wrapper {
  background-image: url(../images/black.jpg);
  background-position: center;
  font-style: bold;
  scroll-behavior: smooth;
  caption-side: top;
  text-align: center;
}

.img{
  text-align: center;
}

.music{
  text-align: center;
}

.movie{
  text-align: center;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.menu{
  display: block;
  overflow: hidden;
  width: 60px;
  height: 60px;
  margin: 30px:auto;
  cursor: pointer;
  -webkit-transition:all 0.5s ease-in-out;
     transition: all 0.5s ease-in-out;
  border: 3px solid transparent;
  border-radius: 50%;
  background-color: #ffffff;
}

.menu div.menubar{
  width: 30px;
  margin: 10px auto;
}
.menu div.menubar.bar{
  display: block;
  width: 100%;
  height: 20px;
  margin-top: 3px;
  border-radius: 10px;
  background-color: #FFffff;
}
.menu ul{
  display:none;
  margin: 1;
  padding: 0;
  list-style-type: none;
  -webkit-transition:all 0.5s ease;
      transition: all 0.5s ease;
  text-align: center;
  opacity: 0;
}

.menu ul li{
  display: inline-block;
}

.menu ul li a{
  display: inline-inline-block;
  padding: 0.7em 0.5em;
  -webkit-transition:all 0.3s ease-in;
     transition: all 0.3s ease-in;
 text-decoration: none;
 color: #A6213A;
 border-bottom: 4px solid transparent;
 height: 56px;
 line-height: 2em;
}

.menu ul li a:hover{
  color:#ffffff;
  background-color: #A6213A;
}

.menu ul li a:target{
  border-bottom-color: #A6213A;
}

/*クリックした時の動き*/
#cp_navimenuid{
  display: none;
}

#cp_navimenuid:checked ~.menu{
   width: 100%;
   height: 60px;
   border: 3px solid #000000;
   border-radius: 5px;
   background-color: #000000;
   font-family: "Courier New";
   font-weight: bold;
}

#cp_navimenuid:checked ~.menu>ul{
  display: block;
  opacity: 1;
}

#cp_navimenuid:checked ~.menu>
.menubar{
  display: none;
}

a{
   color: #008080
}

footer{
    background-color: #A6213A;
    color:#fff;
    font-size: 80%;
    padding:10px;
    min-height:50px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .box11{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #A6213A;
    background: #EEEEEE;
    border-top: solid 5px #A6213A;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    display:inline-block;

  }

  .box21{
    padding: 0.5em 1em;
    background: -moz-linear-gradient(#9966FF, #6600FF);
    background: -webkit-linear-gradient(#9966FF, #6600FF);
    background: linear-gradient(to right, #9966FF, #6600FF);
    color: #000000;
    font-family: 'Courier New';
    font-size: 30px ;
    font-weight: bold;
    display:inline-block;

}

.midnight{
  text-align: center;
  color: #000000;
}

.box3{
  padding: 0.5em 1em;
    margin: 2em 0;
    color: #A6213A;
    background: #ffffff;
    display:inline-block;
}

.efect{
  border: 1px solid #ddd;
  width: 1300px;
  height: 850px;
  margin: 0 auto;
  overflow: hidden;
}
.efect img{
  width: 100%;
  transform: scale(1.1);
  cursor: pointer;
  filter: grayscale(100%);
  transition-duration: 1.5s;
}
.efect img:hover{
  filter: grayscale(0);
  transition-duration: 1.5s;
}
